/* General */
@font-face {
  font-family: "font-reg";
  src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(../assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}

* {
  padding: 0;
  margin: 0;
}
*::selection {
  background: black;
  color: aliceblue;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "font-reg", serif;
  background: black;
  color: aliceblue;
  transition: 0.7s ease-in-out;
  margin: 20px auto;
}
h2 {
  margin-left: 20px;
  font-size: calc(3rem + 4vw);
  text-align: center;
  color: grey;
  font-family: "font-bold", serif;
  letter-spacing: 3px;
}
h2 .title {
  font-size: calc(1rem + 4vw);
  letter-spacing: 0;
}
span {
  display: inline-block;
}
a,
a:visited {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: aliceblue;
  transition: 0.1s linear;
  font-size: calc(0.8rem + 0.8vw);
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  background: aliceblue;
  height: 1px;
  bottom: -3px;
  left: 0;
  transform-origin: left;
}
a:hover {
  transform: scale(1.04);
  color: rgb(217, 217, 217);
}
a:hover::after {
  animation: animLink 1.04s infinite ease-in-out;
}
@keyframes animLink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.img {
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6s;
}
.img:hover {
  filter: grayscale(10%);
}
.line {
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: black;
  transition: 1s cubic-bezier(0.077, 0, 0.18, 1);
  transform-origin: left;
  transition-delay: 0.65s;
  opacity: 0;
  transform: scaleX(0);
}
.line-wrapper.is-inview .line {
  opacity: 1;
  transform: scaleX(1);
}
.line-wrapper.is-inview {
  margin-bottom: 50px;
}
.wrapper {
  perspective: 900px;
}
.appear {
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.335, 1);
}
.appear.is-inview {
  transition-delay: 1s;
  opacity: 1;
  transform: none;
}
/* Ordre apparition */

header {
  height: 100vh;
  position: relative;
  margin: 4vw, 4vw, 0;
}
header .links {
  display: flex;
  justify-content: space-between;
}
#h1-wrapper {
  transition-delay: 0.3s;
}
h1 {
  margin-left: 20px;
  font-size: calc(2rem + 6vw);
  margin-top: 70px;
  font-family: "font-bold", serif;
  letter-spacing: 6px;
  color: aliceblue;
}
header h2 {
  font-size: calc(1rem + 6.5vw);
  margin: 18px 20px;
  text-align: left;
}
#h2-1 {
  transition-delay: 0.9s;
}
#h2-2 {
  transition-delay: 1.2s;
}
header .scroll-wrapper {
  position: absolute;
  left: 45%;
  bottom: 3.5vw;
  color: rgb(217, 217, 217);
  font-size: calc(0.8rem + 0.5vw);
}
.about {
  margin: 400px 0 250;
}
.img1 {
  background: url(../assets/img/IMG_0070.JPG) top/cover;
}
.h2-wrapper {
  mix-blend-mode: exclusion;
  margin: -60px 0 90px;
}
.about p {
  width: 70%;
  min-width: 280px;
  text-align: center;
  margin: 0 auto;
  line-height: calc(7px + 4.5vw);
  font-size: (1rem + 1vw);
  letter-spacing: 1px;
}
.formation {
  margin: 200 0 250;
}
.formation h2 {
  margin-bottom: 120px;
}
.formation .wrapper {
  margin: 30px 0;
}
.formation .appear {
  text-align: center;
}
.formation h3 {
  font-size: calc(1rem + 5vw);
  font-family: "font-bold", serif;
  letter-spacing: 4px;
  color: black;
}
.formation p {
  font-size: calc(1rem + 1vw);
  font-family: "font-bold", serif;
  letter-spacing: 4px;
  color: black;
}
.skills {
  margin: 200 0 250;
}
.skills h2 {
  margin-bottom: 150px;
}
.skills .wrapper {
  margin: 30px 0;
}
.skills .appear {
  text-align: center;
  transition-delay: 0.6s;
}
.skills p {
  font-size: calc(1rem + 6vw);
  font-family: "font-bold", serif;
  letter-spacing: 4px;
  background: black;
  color: aliceblue;
  display: inline-block;
  padding: 0 12px 12px 12px;
}
.porfolio {
  margin: 200px 0;
}
.projects-container {
  margin-top: 100px;
}
.project {
  position: relative;
  width: 60vw;
  max-width: 600px;
  margin: 50px 5vw;
}
.project::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 100%;
  top: -3px;
  background: white;
  transition: width 1s ease-out;
  transition-delay: 0.85s;
}
.project.is-inview::before {
  width: 0;
}
#p2 {
  margin: 0 6vw 0 auto;
  font-size: 18px;
}
#p3 {
  margin-left: 0 8vw 0 auto;
  font-size: 18px;
}
#p1 {
  margin-left: 0 2vw 0 auto;
  font-size: 18px;
}
#p1 p,
#p2 p,
#p3 p {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  #p1 p,
  #p2 p,
  #p3 p {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  #p1 a,
  #p2 a,
  #p3 a {
    font-size: 12px;
  }
}
.project img {
  transition: 0.4s ease-out;
  width: 100%;
}
.project:hover img {
  filter: brightness(20%);
}
.project:hover .project-infos {
  opacity: 1;
  transform: translate(0, -50%);
}
.project-infos {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 8vw;
  transition: 0.4s ease-out;
  opacity: 0;
}
.project-infos a {
  font-size: calc(1rem + 3vw);
}
/* .project-infos h3 {
  font-size: calc(1rem + 3vw);
} */
.project-infos p {
  font-size: 2rem;
  margin-top: 1.5vw;
  color: aliceblue;
}
footer {
  margin: 100px 0px 120px;
}
footer p {
  font-size: calc(1rem + 2vw);
  margin: 25px 0;
  text-align: center;
}
/* #l2 {
  transition-delay: 1.2s;
}
#l3 {
  transition-delay: 1.6s;
} */
footer a {
  font-family: "font-bold", serif;
  color: rgb(92, 48, 236);
  font-size: calc(1rem + 2vw);
}
